.dash {
  background: fade-out($color: $purp, $amount: 0.15);
  color: $light;
  border-radius: 2%;
  padding: 5%;
  height: 110%;
  width: 90vw;
}

.item {
  margin: auto;
}

@media (max-width: 900px) {
  .item {
    margin-top: 15%;
  }
}

.item-text {
  text-align: center;
  color: $light;
}

.img {
  margin-left: 7%;
  border-radius: 10%;
}

.ultra {
  color: $ultra-light;
}

.social {
  width: 50%;
  margin-top: 10%;
}

.space {
  justify-content: space-between;
  align-self: center;
  margin: auto;
  padding: 0 30%;
}

.fab:hover {
  color: black;
}

// a {
//   color: inhe
//   text-decoration: none;
// }

// a:hover {
//   color: #00a0c6;
//   text-decoration: none;
//   cursor: pointer;
// }
