.caption {
  margin-bottom: 2%;
  color: white;
}

.carousel {
  border: solid $dark;
}

.car-div {
  background: fade-out($color: black, $amount: 0.3);
  border-radius: 5%;
}

.car-div:hover {
  background: fade-out($color: black, $amount: 0.1);
}

@media (max-width: 800px) {
  .carodisplay {
    display: none;
  }
}
@media (min-width: 800px) {
  .project-col {
    display: none;
  }
}
